* {
   margin: 0;
   padding: 0;
}
body {
   background-color: slategrey;
}
/*==================НАЧАЛО ШАПКИ===================================*/
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgb(240, 148, 28);
   height: 35px;
   overflow: auto;
   z-index: 1;
   outline: 5px solid rgb(122, 89, 0);
}
a {
   text-decoration: none;
   color: #fff;
}
.navigationMenuList {
   right: 0;
   bottom: 0;
   width: 390px;
   position: absolute;
   display: flex;
   justify-content: space-around;
}
.navigationMenuList li {
   flex-basis: 120px;
   list-style: none;
   transition: all 0.3s ease 0s;
}
.navigationMenuList li a {
   font-size: 16px;
   color: #fff;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 10px 30px;
}
@media (min-width: 968px) {
   .navigationMenuList li a:hover {
      outline: 1px solid silver;
      background-color: rgb(49, 49, 49);
   }
}
/*==================КОНЕЦ ШАПКИ===================================*/

/*==================НАЧАЛО БАННЕРА===================================*/
.mainBanner {
   position: relative;
   margin-top: 60px;
   width: 100%;
   height: 500px;
   background: url("../image/velo_banner.jpg") top no-repeat;
   background-size: cover;
}
.mainBannerContent {
   position: absolute;
   right: 20px;
   top: 20px;
   font-size: 24px;
}
.mainBannerLogo {
   margin-bottom: 10px;
   background-color: rgb(169, 167, 167);
   padding: 0px 10px 0px 4px;
   font-size: 48px;
   position: relative;
}
.mainBannerLogo a {
   color: rgb(255, 230, 0);
}
.mainBannerImg {
   position: absolute;
   bottom: 0px;
   right: 0px;
   background: rgba(253, 196, 8, 0.571);
   width: 80px;
   height: 55px;
}
.mainBannerLogo img {
   width: 100%;
   height: 100%;
}
@media (min-width: 968px) {
   .mainBannerLogo a:hover {
      color: rgb(137, 123, 0);
   }
}

.mainBannerTitle {
   background-color: rgb(253, 196, 8);
   font-weight: 600;
   padding: 2px 10px 1px 0px;
}
.mainBannerTitle span {
   background-color: rgb(122, 89, 0);
   color: #fff;
   padding: 2px 0px;
}
.mainBannerTеxt1 {
   font-size: 20px;
   background-color: rgb(62, 60, 55);
   color: rgb(241, 184, 114);
   padding: 2px 0px;
}
.mainBannerTеxt2 {
   font-size: 24px;
   background-color: rgb(253, 196, 8);
   padding: 2px 0px;
}
.mainBannerTеxt2 span > a {
   color: #fff;
}
/*==================КОНЕЦ БАННЕРА===================================*/

/*==================НАЧАЛО ХАРАКТЕРИСТИК===================================*/
.charParent {
   margin: 10px 0px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: stretch;
}
.charChild {
   width: 30%;
   background: rgb(240, 148, 28);
   outline: 2px solid #fff;
}
.moreThanTab {
   font-size: 24px;
   background-color: gray;
   color: #fff;
   text-align: center;
   outline: 2px solid #fff;
}
.lessThanTab {
   font-size: 24px;
   background-color: gray;
   color: #fff;
   text-align: center;
   outline: 2px solid #fff;
   display: none;
}
.charList {
   margin: 5px 0px;
   padding-left: 24px;
}
.charChild div {
   font-size: 24px;
   background-color: gray;
   color: #fff;
   text-align: center;
   outline: 2px solid #fff;
}
@media (min-width: 968px) {
   .charChild div:hover {
      background-color: rgb(49, 49, 49);
      outline: 2px solid rgb(196, 196, 196);
   }
}
/*==================КОНЕЦ ХАРАКТЕРИСТИК===================================*/

/*==================НАЧАЛО ТОВАРОВ===================================*/
.itemProducts {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   flex-direction: row;
}
.itemProductCard {
   width: 29%;
   background-color: #fff;
   margin: 5px 0;
   padding: 10px;
   position: relative;
}
.itemProductLabels {
   position: absolute;
   left: 22px;
   top: 15px;
}
.itemProductLabel {
   font-weight: 900;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
   height: 21px;
   background-color: #fd3624;
   padding: 0 15px;
   text-transform: uppercase;
}
.itemProductImage {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}
.itemProductImage img {
   max-width: 100%;
   max-height: 220px;
}
.itemProductBody {
   padding: 0 10px;
   text-align: center;
}

.itemProductTitle {
   color: #fff;
   font-size: 16px;
   font-weight: 300;
   display: inline-block;
   margin: 0px 0px 5px 0px;
   background-color: gray;
   padding: 0px 10px;
   min-width: 200px;
}
@media (min-width: 968px) {
   .itemProductTitle {
      line-height: 24px;
   }
}
@media (min-width: 968px) {
   .itemProductTitle:hover,
   .itemProductTitle:active {
      text-decoration: underline;
      background-color: rgb(49, 49, 49);
   }
}
.itemProductFooter {
   margin: 10px 0 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.itemProductOldPrice {
   flex: 1 1 100%;
   text-align: right;
   color: #c2c1c1;
   font-weight: 300;
   font-size: 18px;
   text-decoration: line-through;
}
.itemProductOldPrice span {
   font-size: 14px;
}
.itemProductAdd {
   width: 40px;
   height: 40px;
   background: url("../image/cart_gray.png") 0 0 no-repeat;
   background-size: cover;
}
.itemProductAdd:hover,
.itemProductAdd:active {
   background: url("../image/cart_orange.png") 0 0 no-repeat;
   background-size: cover;
}
.itemProductPrice {
   color: #000000;
   font-size: 24px;
   font-weight: 900;
}
.itemProductPrice span {
   font-size: 18px;
}
/*==================КОНЕЦ ТОВАРОВ===================================*/

/*==================МЕДИА ЗАПРОСЫ===================================*/
@media (max-width: 992px) {
   .charParent {
      margin: 7px 0px;
   }
   .moreThanTab {
      font-size: 22px;
      background-color: gray;
   }
   .itemProductCard {
      width: 27%;
      padding: 7px;
   }
   .itemProductLabels {
      position: absolute;
      left: 18px;
      top: 8px;
   }
   .itemProductLabel {
      text-align: center;
      height: 16px;
      font-size: 14px;
      padding: 0 8px;
   }
   .itemProductImage {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
   }
   .itemProductImage img {
      max-width: 100%;
      max-height: 160px;
   }
   .itemProductBody {
      padding: 0 7px;
   }

   .itemProductTitle {
      font-size: 16px;
      line-height: 18px;
      padding: 0px 8px;
      min-width: 200px;
   }
   .itemProductFooter {
      margin: 8px 0 0;
   }
   .itemProductOldPrice {
      font-size: 16px;
   }
   .itemProductOldPrice span {
      font-size: 12px;
   }
   .itemProductAdd {
      width: 36px;
      height: 36px;
   }
   .itemProductPrice {
      font-size: 20px;
   }
   .itemProductPrice span {
      font-size: 16px;
   }
}
@media (max-width: 768px) {
   .mainBanner {
      margin-top: 50px;
      height: 300px;
   }
   .mainBannerContent {
      right: 10px;
      top: 10px;
      font-size: 20px;
   }
   .mainBannerLogo {
      margin-bottom: 7px;
      font-size: 36px;
   }
   .mainBannerImg {
      width: 70px;
      height: 41px;
   }
   .charParent {
      flex-direction: column;
      margin: 7px 0;
   }
   .charChild {
      margin: 5px 0px;
      width: 100%;
      font-size: 20px;
   }
   .moreThanTab {
      display: none;
   }
   .lessThanTab {
      display: block;
   }
   .itemProducts {
      margin: 5px;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-wrap: wrap;
      flex-direction: row;
   }
   .itemProductCard {
      width: 40%;
      padding: 2px;
   }
   .itemProductLabels {
      left: 10px;
      top: 3px;
   }
   .itemProductLabel {
      font-size: 10px;
      border-radius: 15px;
      height: 12px;
      padding: 1px 5px;
   }
   .itemProductImage {
      padding: 7px 0;
   }
   .itemProductImage img {
      max-width: 100%;
      max-height: 140px;
   }
   .itemProductBody {
      padding: 0 7px;
   }
   .itemProductTitle {
      font-size: 16px;
      padding: 0px 8px;
      min-width: 160px;
   }
   .itemProductFooter {
      margin: 3px 0 0;
   }
   .itemProductOldPrice {
      font-size: 12px;
   }
   .itemProductOldPrice span {
      font-size: 10px;
   }
   .itemProductAdd {
      width: 30px;
      height: 30px;
   }
   .itemProductPrice {
      font-size: 16px;
   }
   .itemProductPrice span {
      font-size: 14px;
   }
}
@media (max-width: 712px) {
   .itemProductTitle {
      font-size: 13px;
   }
}
@media (max-width: 480px) {
   .navigationMenuList {
      width: 300px;
      position: absolute;
      display: flex;
      justify-content: space-around;
   }
   .navigationMenuList li {
      flex-basis: 80px;
   }
   .navigationMenuList li a {
      padding: 10px 10px;
   }
   .mainBanner {
      height: 240px;
   }
   .mainBannerContent {
      right: 0px;
      top: 0px;
      font-size: 18px;
   }
   .mainBannerLogo {
      font-size: 24px;
   }
   .mainBannerImg {
      width: 55px;
      height: 27px;
   }
   .mainBannerTitle {
      background-color: rgba(253, 196, 8, 0.7);
   }
   .mainBannerTitle span {
      background-color: rgba(122, 89, 0, 0.7);
   }
   .mainBannerTеxt1 {
      font-size: 16px;
      background-color: rgba(62, 60, 55, 0.7);
   }
   .mainBannerTеxt2 {
      font-size: 18px;
      background-color: rgba(253, 196, 8, 0.7);
   }
   .charParent {
      flex-direction: column;
      margin: 7px 0;
   }
   .charChild {
      margin: 5px 0px;
      width: 100%;
      font-size: 14px;
   }
   .moreThanTab {
      display: none;
   }
   .lessThanTab {
      display: block;
   }
   .lessThanTab a {
      font-size: 18px;
   }
   .itemProducts {
      margin: 5px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
   }
   .itemProductCard {
      width: 95%;
      padding: 7px;
   }
   .itemProductLabels {
      left: 30px;
      top: 15px;
   }
   .itemProductLabel {
      font-size: 16px;
      height: 14px;
      padding: 3px 15px;
   }
   .itemProductImage {
      padding: 10px 0;
   }
   .itemProductImage img {
      max-height: 240px;
   }
   .itemProductBody {
      padding: 0 10px;
   }
   .itemProductTitle {
      font-size: 16px;
      line-height: 20px;
      padding: 0px 10px;
      min-width: 230px;
   }
   .itemProductFooter {
      margin: 5px 0 0;
   }
   .itemProductOldPrice {
      font-size: 16px;
   }
   .itemProductOldPrice span {
      font-size: 14px;
   }
   .itemProductAdd {
      width: 48px;
      height: 48px;
   }
   .itemProductPrice {
      font-size: 22px;
   }
   .itemProductPrice span {
      font-size: 20px;
   }
}
